/* Group 70 */

position: absolute;
width: 20px;
height: 20px;



/* Group 39 */

position: absolute;
width: 20px;
height: 20px;



/* Rectangle 28 */

position: absolute;
width: 20px;
height: 20px;

background: #833AE0;
border: 1px solid #833AE0;
box-sizing: border-box;
border-radius: 71px;


/* Group 52 */

position: absolute;
width: 8px;
height: 8px;



/* Vector 2 */

position: absolute;
width: 8px;
height: 8px;

border: 1px solid #FFFFFF;


/* Vector 3 */

position: absolute;
width: 8px;
height: 8px;

border: 1px solid #FFFFFF;
transform: rotate(-90deg);
